/*Documentos css*/

body { background-color: rgb(145, 52, 232);}
h1{color: aqua;}
h2{color: rgb(234, 64, 234);}
h3{color: mediumpurple;}
h4{color: indigo;}
h5{color: hotpink;}
h6{color: aqua; font-size: 45px; text-align: center; line-height: 130%;}